.app {
  font-family: sans-serif;
}

.button {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.button.add {
  right: 0;
}

.button.add:active svg {
  fill: green;
}

.button.remove {
  left: 0;
}

.button.remove:active svg {
  fill: red;
}

.button svg {
  width: 32px;
  height: 32px;
}

.centered {
  text-align: center;
}

.favorites {
  border: 2px solid green;
  min-height: 100px;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  margin: 10px;
  flex-basis: 20%;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 150px;
}

.grid-item > img {
  height: 100px;
  max-width: 100px;
  object-fit: cover;
}

.img-container {
  position: relative;
}

.name {
  text-align: center;
}

.name::first-letter {
  text-transform: capitalize;
}
